#header {
  background: linear-gradient(90deg, blue, red);
  color: white;
  text-align: center;
}

#day-info {
  border: solid black 1px;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 46, 75);
  margin: 5px;
  color: white;
  min-height: 150px;
  justify-content: space-evenly;
}

.forecast-date {
  font-weight: bolder;
}

#history {
  margin-top: 10px;
}

#history button {
  width: 100%;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px 0;
  background-color: rgb(226, 219, 219);
}